﻿@page "/chat"

@using Microsoft.AspNetCore.SignalR.Client
@using BlazorA2Hosting.Shared

@inject NavigationManager NavigationManager

@inject ILocalStorageServiceAsync localStorage

@inject Task<AppSettings> Configuration

<h3>Chat</h3>

@code {

}
