﻿@page "/fetchdata"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorApp1.Shared
@using BlazorApp1.Client.Models
@using System.Text.Json
@using BlazorApp1.Client.HelperExtensions

@inject NavigationManager NavigationManager
@inject HttpClient Http

@inject ILocalStorageServiceAsync LocalStorage

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (errorMessage != null)
{
    <h1>@errorMessage</h1>
}

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>

    <EditForm Model="@weatherTypes" OnValidSubmit="PostUpdate">
        <InputText id="Item1" @bind-Value="weatherTypes.Item1" />
        <InputText id="Item2" @bind-Value="weatherTypes.Item2" />
        <InputText id="Item3" @bind-Value="weatherTypes.Item3" />
        <InputText id="Item4" @bind-Value="weatherTypes.Item4" />

        <button type="submit">Submit</button>
    </EditForm>
}

@code {
    private List<WeatherForecast> forecasts = new List<WeatherForecast>();
    private HubConnection _hubConnection;
    private string errorMessage;
    private Guid LatestId;

    private TempModel weatherTypes;

    private async Task PostUpdate()
    {
        List<string> values = new List<string>();

        if (!string.IsNullOrWhiteSpace(weatherTypes.Item1))
        {
            values.Add(weatherTypes.Item1);
        }
        if (!string.IsNullOrWhiteSpace(weatherTypes.Item2))
        {
            values.Add(weatherTypes.Item2);
        }
        if (!string.IsNullOrWhiteSpace(weatherTypes.Item3))
        {
            values.Add(weatherTypes.Item3);
        }
        if (!string.IsNullOrWhiteSpace(weatherTypes.Item4))
        {
            values.Add(weatherTypes.Item4);
        }


        var response = await Http.PostJsonTrackedAsync("WeatherForecast/" + _hubConnection.ConnectionId, values);
        var responseContent = await response.GetContentInstanceAsync<AsyncResponse>();

        if (response.IsSuccessStatusCode)
        {
            if (responseContent == null)
            {
                errorMessage = "Ok Response but no response content";
            }
            else
            {
                LatestId = new Guid(responseContent.Id);
                errorMessage = "Id: " + LatestId.ToString() + "<br />" +
                    "Estimated Time: " + responseContent.TimeEstimate + "<br />" +
                    "Status: " + responseContent.Status + "<br />" +
                    "Update Endpoint: " + responseContent.StatusEndpoint + "<br />";
            }
        }
        else
        {
            errorMessage = "Error:<br />" + JsonSerializer.Serialize(response);
        }
    }


    protected override async Task OnInitializedAsync()
    {
        weatherTypes = new TempModel();

        //if (LocalStorage != null && await LocalStorage.ContainKeyAsync("forecasts"))
        //{
        //    var existingForecasts = await LocalStorage.GetItemAsync<List<WeatherForecast>>("forecasts");

        //    if (existingForecasts != null && existingForecasts.Count > 0)
        //    {
        //        forecasts.Clear();
        //        forecasts.AddRange(existingForecasts);
        //    }
        //}
        forecasts.Clear();
        var newForecasts = (await Http.GetJsonAsync<WeatherForecast[]>("WeatherForecast"))?.ToList();
        if (newForecasts?.Count > 0)
        {
            forecasts.AddRange(newForecasts);

            //await LocalStorage.SetItemAsync("forecasts", forecasts);
        }


        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chatHub"))
            .Build();

        _hubConnection.On<CompletedTaskResponse<IEnumerable<WeatherForecast>>>("AsyncTaskCompleted", (newForecastResponse) =>
        {
            if (newForecastResponse.Status == AsyncTaskStatus.Completed)
            {
                forecasts.Clear();
                forecasts.AddRange(newForecastResponse.Value);
                errorMessage = null;
            }
            else
            {
                errorMessage = newForecastResponse.ErrorMessage;
            }
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
    }
}


