﻿@page "/oldindex"

@using Microsoft.AspNetCore.SignalR.Client
@using BlazorApp1.Shared

@inject NavigationManager NavigationManager

@inject ILocalStorageServiceAsync localStorage


<h1>Messaging</h1>

Welcome to messaging.
<div class="form-group">
    <label>
        User:
        <input @bind="_userInput" />
    </label>
</div>

<div class="form-group">
    <label>
        Message:
        <input @bind="_messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)" autofocus>Send</button>

<button @onclick="ClearStorage" disabled="@(!IsConnected || _messages == null || _messages.Count <= 0)">Clear</button>

<hr>

<ul id="messagesList">
    @foreach (var message in _messages)
    {
        <li>@message.Username: @message.Message, Time(@message.TimeSinceLast)</li>
    }
</ul>

<div id="notification-fader-container">
    @foreach (var notification in _toastMessages)
    {
        <div id="notification-fader" class="fade-in-out">
            <ul>
                <li>User: @notification.Username</li>
                <li>Message: @notification.Message</li>
                <li>Time: @notification.TimeSinceLast</li>
            </ul>

        </div>
    }
</div>

    @code{
        private HubConnection _hubConnection;
        private List<MessageData> _messages = new List<MessageData>();
        private List<MessageData> _toastMessages = new List<MessageData>();
        private string _userInput;
        private string _messageInput;

        private async Task ClearStorage()
        {
            _messages?.Clear();
            if (localStorage != null)
                await localStorage.ClearAsync();
        }

        private async Task CleanupToast(Guid messageId)
        {
            await Task.Delay(TimeSpan.FromSeconds(4));
                int index = _toastMessages.FindIndex(t => t.Id == messageId);
                _toastMessages.RemoveAt(index);
        }

        protected override async Task OnInitializedAsync()
        {
            if (localStorage != null && await localStorage.ContainKeyAsync("messagesHistory"))
            {
                var existingMessages = await localStorage.GetItemAsync<List<MessageData>>("messagesHistory");

                if (existingMessages != null && existingMessages.Count > 0)
                {
                    _messages.Clear();
                    _messages.AddRange(existingMessages);
                }
            }

            _hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/chatHub"))
                .Build();

            _hubConnection.On<string, string>("ReceiveMessage", async (user, message) =>
            {
                var encodedMsg = $"{user}: {message}";

                var timeSinceLast = new TimeSpan(0, new Random().Next(0, 59), new Random().Next(2, 59));

                var messageData = new MessageData()
                {
                    Message = message,
                    Username = user,
                    TimeSinceLast = timeSinceLast
                };

                _messages.Add(messageData);
                await localStorage.SetItemAsync("messagesHistory", _messages);
                StateHasChanged();

                _toastMessages.Add(messageData);
                StateHasChanged();
                // Clean up notification after it has displayed for four seconds
                await CleanupToast(messageData.Id);
            });

            await _hubConnection.StartAsync();
        }

        Task Send() =>
            _hubConnection?.SendAsync("SendMessage", _userInput, _messageInput);

        public bool IsConnected =>
            _hubConnection?.State == HubConnectionState.Connected;
    }
