﻿@import "Shared/Notification/Notification.scss";
@import "Shared/MainLayout/MainLayout.scss";
@import "Pages/LayoutTestArea/LayoutTestArea.scss";
@import "Pages/ChatArea/ChatArea.scss";
@import "Shared/ChatUsersPanel/ChatUsersPanel.scss";

//@import "open-iconic/font/css/open-iconic-bootstrap.min.css";

/* Dropdown Button */
/* The container <div> - needed to position the dropdown content */
/* Dropdown Content (Hidden by Default) */
/* Links inside the dropdown */
/* Change color of dropdown links on hover */
/* Show the dropdown menu on hover */
/* Change the background color of the dropdown button when the dropdown content is shown */
html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: "Open Iconic";
    src: url(css/open-iconic/font/css/open-iconic.woff) format("woff");
}


.zero-height-fix {
    height: 0; //fixes flex grow height issues (allows auto height to work)
}

.my-flex-row-container {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
}

.my-flex-column-container {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
}

.my-flex-grow {
    flex: 1;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}



.custom-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 3rem;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 3rem;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(105,172,250);
    border-radius: 3rem;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(105,144,250);
}

.overflow-auto {
    overflow-y: auto;
}


a {
    color: #0366d6;
}

.btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}


.content {
    padding-top: 1.1rem;
    flex: 1;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified {
    &:not([type=checkbox]) {
        outline: 1px solid #26b050;
    }
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;

    .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes toast-fade {
    0% {
        opacity: 0;
    }
    
    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

#notification-fader-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    top: 3.7rem;
    right: 0.4rem;
    z-index: 1000;

    #notification-fader {
        border-radius: 5px;
        background-image: linear-gradient(180deg, #052767 0%, #3a0647 90%);
        color: #d7d7d7;
        padding: 1rem;
        border: 1px solid black;
        margin-bottom: 0.2rem;
        display: flex;
        flex-direction: column;
        width: 350px;
        opacity: 0;
        animation: toast-fade 6s;

        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            animation: toast-fade 6s;

            li {
                animation: toast-fade 6s;
            }
        }
    }
}

.bw-row-container {
    text-align: right;
}

@media (max-width: 767.98px) {
    body {
        height: 100vh;
    }

    app {
        height: 100%;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .navbar-toggler {
        display: none;
    }
}
