﻿
@inject ILocalStorageServiceAsync localStorage

    <div class="chatuserspanel">
        <div class="chat-collapse-bar @(collapsed ? "collapsed-radius" : "expanded-radius")" @onclick="ToggleCollapse">
            @if (collapsed)
            {
                <i class="fa fa-angle-double-left expand-icon"></i>
            }
            else
            {
                <i class="fa fa-angle-double-right expand-icon"></i>
            }
        </div>

        <div class="overflow-auto custom-scrollbar  full-height @(collapsed ? "force-collapsed" : "force-expanded")">
            <ul aria-label="Users">
                @foreach (var user in UserList)
                {
                    @if (user.Username == currentUser)
                    {                       
                        <li class="current-user"><strong>@(user.Username + " (You)")</strong></li>
                    }
                    else
                    {
                        <li class="other-user">
                            @if(user.IsTyping) 
                            {
                                <div class="typing-overlap">Typing...</div>
                            }
                            @user.Username
                        </li>
                    }
                }
            </ul>

        </div>
    </div>

@code {
    bool collapsed = false;

    [Parameter]
    public List<ChatUser> UserList { get; set; } = new List<ChatUser>();

    [Parameter]
    public EventCallback<List<ChatUser>> UserListChanged { get; set; }

    private string currentUser = "";

    protected override async Task OnInitializedAsync()
    {
        currentUser = await localStorage.GetItemAsync<string>("username");
    }

    private void ToggleCollapse()
    {
        collapsed = !collapsed;
    }
}