﻿.chatuserspanel {
    height: 100%;
    border: #99d8f8 solid 2px;
    border-radius: 10px;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    transition: all 0.8s;

    .chat-collapse-bar {
        float: left;
        height: 100%;
        width: 0.8rem;
        font-size: 70%;
        background-color: #52aaff;
    }

    .collapsed-radius {
        animation-name: force-collapsed-border-radius;
        animation-duration: 0.7s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    .expanded-radius {
        animation: force-expanded-border-radius;
        animation-duration: 0.7s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    .chat-collapse-bar:hover {
        background-color: darken(#52aaff, 10%);
        cursor: pointer;
    }

    .expand-icon {
        margin: 0;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    ul {
        width: 100%;
        list-style-type: none;
        padding-left: 0;

        li {
            position: relative;
            padding: 3px;
            padding-left: 1rem;
            padding-right: 1rem;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 0.4rem;
            margin-right: 0.4rem;
            border-radius: 5px;
        }

        .typing-overlap {
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 5px;
            top: 0;
            left: 0;
            z-index: 10;
            font-weight: 800;
            background-color: rgba(0, 0, 0, 0.73);
            color: #c6ffff;
        }

        .current-user {
            background-color: #52caff;
            border: #52aaff solid 1px;
            overflow-wrap: break-word;
        }

        .other-user {
            background-color: #b7ffe7;
            border: #48f7d7 solid 1px;
            overflow-wrap: break-word;
        }
    }

    ul:before {
        content: attr(aria-label);
        font-size: 120%;
        font-weight: bold;
        text-decoration: underline;
    }
}

.force-collapsed {
    animation-name: force-collapsed;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    overflow-x: hidden;
}

.force-expanded {
    animation: force-expanded;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}


@-webkit-keyframes force-expanded {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-style: flat;
        transform-origin: right;
        -webkit-transform-origin: right;
        width: 0;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        transform-style: flat;
        transform-origin: right;
        -webkit-transform-origin: right;
        width: 10rem;
    }
}

@keyframes force-expanded {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-style: flat;
        transform-origin: right;
        -webkit-transform-origin: right;
        width: 0;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        transform-style: flat;
        transform-origin: right;
        -webkit-transform-origin: right;
        width: 10rem;
    }
}


@-webkit-keyframes force-collapsed {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        transform-style: flat;
        transform-origin: right;
        -webkit-transform-origin: right;
        width: 10rem;
    }

    100% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-style: flat;
        transform-origin: right;
        -webkit-transform-origin: right;
        width: 0;
    }
}

@keyframes force-collapsed {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        transform-style: flat;
        transform-origin: right;
        -webkit-transform-origin: right;
        width: 10rem;
    }

    100% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-style: flat;
        transform-origin: right;
        -webkit-transform-origin: right;
        width: 0;
    }
}

@-webkit-keyframes force-collapsed-border-radius {
    0% {
        border-radius: 0.5rem 0 0 0.5rem;
    }

    90% {
        border-radius: 0.5rem 0 0 0.5rem;
    }

    100% {
        border-radius: 0.4rem;
    }
}

@keyframes force-collapsed-border-radius {
    0% {
        border-radius: 0.5rem 0 0 0.5rem;
    }

    90% {
        border-radius: 0.5rem 0 0 0.5rem;
    }

    100% {
        border-radius: 0.4rem;
    }
}


@-webkit-keyframes force-expanded-border-radius {
    0% {
        border-radius: 0.4rem;
    }

    10% {
        border-radius: 0.5rem 0 0 0.5rem;
    }

    100% {
        border-radius: 0.5rem 0 0 0.5rem;
    }
}

@keyframes force-expanded-border-radius {
    0% {
        border-radius: 0.4rem;
    }

    10% {
        border-radius: 0.5rem 0 0 0.5rem;
    }

    100% {
        border-radius: 0.5rem 0 0 0.5rem;
    }
}
