﻿@inherits LayoutComponentBase

@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager MainNavigationManager

<div role="region" class="sidebar">
    <NavMenu />
</div>

<div role="region" class="main my-flex-column-container">
        <div class="top-row px-4 full-width">
           <div class="dropdown">
                <button class="dropbtn">Messages (@_notifications.Count)</button>
                <div class="dropdown-content">
                    <ul>
                        @foreach (var notice in _notifications)
                        {
                            <li>@notice</li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="content px-4 my-flex-grow full-width zero-height-fix">
            @Body
        </div>
</div>

@code
{

    private HubConnection _hubConnection;
    private List<string> _notifications = new List<string>();

    protected override async Task OnInitializedAsync()
    {

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(MainNavigationManager.ToAbsoluteUri("/chatHub"))
            .Build();

        
        _hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            _notifications.Add($"{user} - {message}");
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
    }
}