﻿/*#region Main*/
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;

        > a {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        a {
            &:first-child {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
/*#endregion*/

/*#region SideBar*/
.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);

    .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .navbar-brand {
        font-size: 1.1rem;
    }

    .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;

        &:first-of-type {
            padding-top: 1rem;
        }

        &:last-of-type {
            padding-bottom: 1rem;
        }

        a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;

            &:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }
        }

        a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }
    }
}
/*#endregion*/

/*#region @Media tags*/
@media (max-width: 767.98px) {
    .main {
        height: 100vh;

        .top-row {
            &:not(.auth) {
                display: none;
            }

            a {
                margin-left: 0;
            }

            .btn-link {
                margin-left: 0;
            }
        }

        .top-row.auth {
            justify-content: space-between;
        }
    }
}

@media (min-width: 768px) {
    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;

        .collapse {
            display: block;
        }
    }

    .main {
        .top-row {
            position: sticky;
            top: 0;
        }

        > div {
            padding-left: 2rem !important;
            padding-right: 1.5rem !important;
        }
    }
}
/*#endregion*/

/*#region Drop Down*/
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1100;

    &:hover {
        .dropdown-content {
            display: block;
            z-index: 1100;
        }

        .dropbtn {
            background-color: #1e6e21;
        }
    }
}

.dropdown-content {
    margin-left: -16.95rem;
    width: 400px;

    ul {
        list-style: none;
        cursor: pointer;
        padding-left: 0;
        margin-bottom: 0;
        z-index: 1100;

        li {
            border-left: 1px solid #d6d5d5;
            border-right: 1px solid #d6d5d5;
            border-bottom: 1px solid #d6d5d5;
            padding: 1rem;
            text-align: center;
        }
    }

    display: none;
    position: absolute;
    z-index: 1100;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        z-index: 1100;
    }
}

.dropbtn {
    background-color: #0C7F10;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/*#endregion*/