﻿<div class="top-row pl-4 navbar navbar-dark" @onclick="ToggleNavMenu">
    <a class="navbar-brand" href="">BlazorApp1 - Version 0.5.5</a>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="layouttestarea">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Layout Test
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="testarea">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Test Area
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="oldindex">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Old Index
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
