﻿@inherits ChatAreaComponentBase


@page "/"

<div id="notification-fader-container">
    @foreach (var notification in _toastMessages)
    {
        if (notification.Username != _username)
        {
    <div id="notification-fader" class="fade-in-out">
        <ul>
            <li>User: @notification.Username</li>
            <li>Message: @notification.Message</li>
        </ul>
    </div>
        }
    }
</div>

<div class="chatarea my-flex-column-container full-height">

    @if (!loggedIn)
    {
    <div class="login-container my-flex-grow ">
        <div class="login-area">
            <label>Please enter a username:</label>
            <input id="login-input" class="login-input" @bind="_username" @bind:event="oninput" @onkeyup="LoginEnter" />
            @{
                    if(!string.IsNullOrWhiteSpace(loginError)) {
                <p class="error-message">@loginError</p>
                    }
            }
            <button class="login-btn" @onclick="Login" disabled="@(string.IsNullOrWhiteSpace(_username) || !IsConnected)">Login</button>
        </div>
    </div>
    }
    else
    {

    <div class="chat-layout my-flex-row-container my-flex-grow zero-height-fix">

        <div class="chat-container my-flex-grow full-width overflow-auto custom-scrollbar">
            <ul class="chat-list">
                @{
                    foreach (var message in _messages)
                    {
                        if (message.Username == _username)
                        {
                    <li class="chat-line-yours scale-up-hor-right">
                        <div>
                            <strong><span>You</span> (@message.Username):</strong> <pre>@message.Message</pre>
                        </div>
                    </li>
                        }
                        else
                        {
                    <li class="chat-line-normal scale-up-hor-left">
                        <div>
                            <strong>@message.Username:</strong> <pre>@message.Message</pre>
                        </div>
                    </li>
                        }
                    }
                }
            </ul>

            <span id="chat-end">
            </span>

        </div>

        <div>
            <ChatUsersPanel @bind-UserList="usersList"></ChatUsersPanel>
        </div>
    </div>

    <div class="my-flex-column-container scale-up-bottom full-width">
        <textarea id="message-input" class="chat-input-area" @bind="_messageInput" @bind:event="oninput" @onkeyup="SendEnter" />

        <div class="my-flex-row-container full-width">
            <button @onclick="SendClicked" class="chat-btn my-flex-grow" @oninput="SendClicked" disabled="@(string.IsNullOrWhiteSpace(_messageInput))">Send</button>
            <button @onclick="LogoutClicked" class="logout-btn" @oninput="LogoutClicked">Logout</button>
        </div>
    </div>
        }

</div>