﻿.chatarea {
  position: relative;
  width: 100%;
  height: 100%; }
  .chatarea .chat-list {
    list-style-type: none; }
  .chatarea .chat-layout {
    margin-bottom: 10px; }
    .chatarea .chat-layout .chat-container {
      border: #d2f0ff solid 2px;
      border-radius: 10px; }
  .chatarea .chat-input-area {
    border: #d2f0ff solid 2px;
    border-radius: 10px;
    resize: none;
    background: white;
    background: linear-gradient(0deg, white 32%, white 90%, #d2f0ff 100%); }
  .chatarea .chat-input-area:focus {
    outline-width: 0; }
  .chatarea .chat-btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #008cd2;
    border-radius: 10px;
    background-color: #d2f0ff;
    margin: 0.5em 0.3em 0.3em 0;
    border-radius: 1em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s; }
  .chatarea .chat-btn:hover:not([disabled]) {
    color: #000000;
    background-color: #69acfa; }
  .chatarea .logout-btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #008cd2;
    border-radius: 10px;
    background-color: #d2f0ff;
    margin: 0.5em 0.3em 0.3em 0;
    border-radius: 1em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s; }
  .chatarea .logout-btn:hover:not([disabled]) {
    color: #000000;
    background-color: #69acfa; }
  .chatarea .chat-line-yours {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em; }
    .chatarea .chat-line-yours div {
      width: auto;
      display: inline-block;
      margin-left: auto;
      margin-right: 0.1em;
      padding: 0.5em;
      border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      -webkit-border-radius: 0.5em;
      background: #6990fa;
      background: radial-gradient(circle, #6990fa 0%, #69bcfa 100%); }
      .chatarea .chat-line-yours div pre {
        display: inline;
        white-space: pre-wrap; }
  .chatarea .chat-line-normal {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.1em; }
    .chatarea .chat-line-normal div {
      width: auto;
      display: inline-block;
      padding: 0.5em;
      border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      -webkit-border-radius: 0.5em;
      background: #69acfa;
      background: radial-gradient(circle, #69acfa 0%, #69d7fa 100%); }
      .chatarea .chat-line-normal div pre {
        display: inline;
        white-space: pre-wrap; }
    .chatarea .chat-line-normal .typing-users {
      list-style-type: none; }
  .chatarea .scale-up-hor-right {
    -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
  .chatarea .scale-up-hor-left {
    -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
  .chatarea .scale-up-bottom {
    -webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; } }

@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; } }

@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; } }

@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; } }

@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; } }

@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; } }
  .chatarea .login-area {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .chatarea .login-area .error-message {
      background-color: red;
      color: black;
      font-weight: 400;
      padding: 0.5rem;
      width: 25vw;
      border-radius: 0 0 0.5rem 0.5rem; }
    .chatarea .login-area label {
      width: 25vw; }
  .chatarea .login-btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #d9d6d6;
    margin: 0.5em 0.3em 0.3em 0;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    width: 25vw;
    text-align: center;
    transition: all 0.2s;
    background-color: #d2f0ff; }
  .chatarea .login-btn:hover:not([disabled]) {
    color: #000000;
    background-color: #69acfa; }
  .chatarea .login-btn:disabled {
    background-color: #CCCCCC; }
  @media all and (max-width: 30em) {
    .chatarea .login-btn {
      display: block;
      margin: 0.4em auto; } }
  .chatarea .login-input {
    padding: 5px 0px 5px 15px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    width: 25vw;
    border-style: solid;
    border-radius: 0.1em;
    box-shadow: 0px 0px 4px rgba(66, 66, 66, 0.75);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, 0); }
  .chatarea .login-input:focus {
    outline: none; }
  @media (max-width: 767.98px) {
    .chatarea .login-input {
      width: 100%; }
    .chatarea .error-message {
      width: 100% !important; }
    .chatarea .login-btn {
      width: 100%; } }
  .chatarea .chat-input-area {
    margin: 0.1em; }
