﻿$lightBlue: #d2f0ff;
$darkBlue: rgb(105,172,250);

.chatarea {
    position: relative;
    width: 100%;
    height: 100%;

    .chat-list {
        list-style-type: none;
    }

    .chat-layout {
        .chat-container {
            border: $lightBlue solid 2px;
            border-radius: 10px;
        }

        margin-bottom: 10px;
    }

    .chat-input-area {
        border: $lightBlue solid 2px;
        border-radius: 10px;
        resize: none;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, lighten($lightBlue, 90%) 32%,lighten($lightBlue, 50%) 90%, $lightBlue 100%);
    }

    .chat-input-area:focus {
        outline-width: 0;
    }

    .chat-btn {
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid darken($lightBlue, 50%);
        border-radius: 10px;
        background-color: $lightBlue;
        margin: 0.5em 0.3em 0.3em 0;
        border-radius: 1em;
        box-sizing: border-box;
        text-decoration: none;
        font-weight: 300;
        text-align: center;
        transition: all 0.2s;
    }

    .chat-btn:hover:not([disabled]) {
        color: #000000;
        background-color: $darkBlue;
    }

    .logout-btn {
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid darken($lightBlue, 50%);
        border-radius: 10px;
        background-color: $lightBlue;
        margin: 0.5em 0.3em 0.3em 0;
        border-radius: 1em;
        box-sizing: border-box;
        text-decoration: none;
        font-weight: 300;
        text-align: center;
        transition: all 0.2s;
    }

    .logout-btn:hover:not([disabled]) {
        color: #000000;
        background-color: $darkBlue;
    }


    .chat-line-yours {
        text-align: right;
        margin-top: 1em;
        margin-bottom: 1em;

        div {
            width: auto;
            display: inline-block;
            margin-left: auto;
            margin-right: 0.1em;
            padding: 0.5em;
            border-radius: 0.5em;
            -moz-border-radius: 0.5em;
            -webkit-border-radius: 0.5em;
            background: rgb(105,144,250);
            background: radial-gradient(circle, rgba(105,144,250,1) 0%, rgba(105,188,250,1) 100%);

            pre {
                display: inline;
                white-space: pre-wrap;
            }
        }
    }

    .chat-line-normal {
        text-align: left;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0.1em;

        div {
            width: auto;
            display: inline-block;
            padding: 0.5em;
            border-radius: 0.5em;
            -moz-border-radius: 0.5em;
            -webkit-border-radius: 0.5em;
            background: rgb(105,172,250);
            background: radial-gradient(circle, rgba(105,172,250,1) 0%, rgba(105,215,250,1) 100%);

            pre {
                display: inline;
                white-space: pre-wrap;
            }
        }

        .typing-users {
            list-style-type: none;
        }
    }

    .scale-up-hor-right {
        -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    .scale-up-hor-left {
        -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    .scale-up-bottom {
        -webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    @-webkit-keyframes scale-up-hor-left {
        0% {
            -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }

        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }
    }

    @keyframes scale-up-hor-left {
        0% {
            -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }

        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }
    }

    @-webkit-keyframes scale-up-hor-right {
        0% {
            -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }

    @keyframes scale-up-hor-right {
        0% {
            -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }

    @-webkit-keyframes scale-up-bottom {
        0% {
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
        }
    }

    @keyframes scale-up-bottom {
        0% {
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
        }
    }

    .login-area {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        .error-message {
            background-color: red;
            color: black;
            font-weight: 400;
            padding: 0.5rem;
            width: 25vw;
            border-radius: 0 0 0.5rem 0.5rem;
        }

        label {
            width: 25vw;
        }
    }

    .login-btn {
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid #d9d6d6;
        margin: 0.5em 0.3em 0.3em 0;
        border-radius: 10px;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        width: 25vw;
        text-align: center;
        transition: all 0.2s;
        background-color: $lightBlue;
    }

    .login-btn:hover:not([disabled]) {
        color: #000000;
        background-color: $darkBlue;
    }

    .login-btn:disabled {
        background-color: #CCCCCC;
    }

    @media all and (max-width:30em) {
        .login-btn {
            display: block;
            margin: 0.4em auto;
        }
    }

    .login-input {
        padding: 5px 0px 5px 15px;
        font-size: 16px;
        border-width: 1px;
        border-color: #CCCCCC;
        background-color: #FFFFFF;
        color: #000000;
        width: 25vw;
        border-style: solid;
        border-radius: 0.1em;
        box-shadow: 0px 0px 4px rgba(66,66,66,.75);
        text-shadow: 0px 0px 5px rgba(66,66,66,.0);
    }

    .login-input:focus {
        outline: none;
    }

    @media (max-width: 767.98px) {
        .login-input {
            width: 100%;
        }

        .error-message {
            width: 100% !important;
        }

        .login-btn {
            width: 100%;
        }
    }


    .chat-input-area {
        margin: 0.1em;
    }
}
