﻿@page "/"

@using Microsoft.AspNetCore.SignalR.Client
@using BlazorA2Hosting.Shared

@inject NavigationManager NavigationManager
@inject ILocalStorageServiceAsync localStorage
@inject Task<AppSettings> Configuration
@inject SignalRFactory SignalRFactory

<h1>Hello, world!</h1>

Welcome to your new app.
<div class="form-group">
    <label>
        User:
        <input @bind="_userInput" />
    </label>
</div>

<div class="form-group">
    <label>
        Message:
        <input @bind="_messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)" autofocus>Send</button>

<button @onclick="ClearStorage" disabled="@(!IsConnected || _messages == null || _messages.Count <= 0)">Clear</button>

<hr>

<ul id="messagesList">
    @foreach (var message in _messages)
    {
    <li>@message.Username: @message.Message, Time(@message.TimeSinceLast)</li>
    }
</ul>

@code{
    private HubConnection _hubConnection;
    private List<MessageData> _messages = new List<MessageData>();
    private string _userInput;
    private string _messageInput;

    private async Task ClearStorage()
    {
        _messages?.Clear();
        if (localStorage != null)
            await localStorage.ClearAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        if (localStorage != null && await localStorage.ContainKeyAsync("messagesHistory"))
        {
            var existingMessages = await localStorage.GetItemAsync<List<MessageData>>("messagesHistory");

            if (existingMessages != null && existingMessages.Count > 0)
            {
                _messages.Clear();
                _messages.AddRange(existingMessages);
            }
        }

        _hubConnection = await SignalRFactory.GetOrCreateHubConnection("/chatHub");

        _hubConnection.On<string, string>("ReceiveMessage", async (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";

            var timeSinceLast = new TimeSpan(0, new Random().Next(0, 59), new Random().Next(2, 59));

            var messageData = new MessageData()
            {
                Message = message,
                Username = user,
                TimeSinceLast = timeSinceLast
            };

            _messages.Add(messageData);
            await localStorage.SetItemAsync("messagesHistory", _messages);
            Console.WriteLine("getting lengths");
            var length = await localStorage.LengthAsync();
            Console.WriteLine("length " + length);
            StateHasChanged();
        });

    }

    Task Send() =>
        _hubConnection?.SendAsync("SendMessage", _userInput, _messageInput);

    public bool IsConnected =>
        _hubConnection?.State == HubConnectionState.Connected;
}
