﻿@page "/testarea"

@inject HttpClient Http

<h3><span class="glyphicon glyphicon-arrow-right"></span> TestArea</h3>

<Notification Items="forecasts">
    <TableHeader>
        <h1>Summary</h1>
        <br/>
        <img src="https://media0.giphy.com/media/4pMX5rJ4PYAEM/source.gif" alt="Homor Funny One" />
    </TableHeader>

    <RowTemplate>
        <div class="bw-row-container">
            <img src="@GetRandomAvatarIconUrl()" alt="avatar" width="42" height="42" /><span>@context.Summary</span>  @@  @context.TemperatureC Centegrade
        </div>
    </RowTemplate>

    <TableFooter>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Etiam erat velit scelerisque in. Eget egestas purus viverra accumsan in nisl nisi scelerisque. Dui ut ornare lectus sit. Semper risus in hendrerit gravida rutrum quisque. Lacus luctus accumsan tortor posuere ac. Fames ac turpis egestas integer eget aliquet nibh praesent. Purus sit amet volutpat consequat. Cursus metus aliquam eleifend mi in. Augue mauris augue neque gravida in fermentum. Eu tincidunt tortor aliquam nulla facilisi cras. Volutpat est velit egestas dui id. Risus in hendrerit gravida rutrum quisque non. Tortor dignissim convallis aenean et tortor. Non consectetur a erat nam at lectus. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet. At auctor urna nunc id cursus metus aliquam eleifend.
        </p>

        <p>
            Tortor condimentum lacinia quis vel eros donec ac. Quam adipiscing vitae proin sagittis nisl. Mauris ultrices eros in cursus turpis massa tincidunt dui ut. Accumsan tortor posuere ac ut consequat semper viverra nam. Quis varius quam quisque id diam vel quam. Cras sed felis eget velit aliquet sagittis id consectetur purus. Ultrices tincidunt arcu non sodales neque sodales ut etiam. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas. Lobortis elementum nibh tellus molestie nunc non. Mi proin sed libero enim sed faucibus. Rhoncus urna neque viverra justo nec ultrices dui sapien eget. Facilisis sed odio morbi quis commodo odio aenean. Dignissim sodales ut eu sem integer vitae justo. Aliquam id diam maecenas ultricies mi eget mauris pharetra et.
        </p>
    </TableFooter>

</Notification>
@code {
    private List<WeatherForecast> forecasts = new List<WeatherForecast>();

    private string[] avatars = new string[]
    {
        "http://icons.iconarchive.com/icons/hopstarter/halloween-avatar/128/Capt-Spaulding-icon.png",
        "http://icons.iconarchive.com/icons/hopstarter/halloween-avatar/128/Devil-icon.png",
        "http://icons.iconarchive.com/icons/hopstarter/halloween-avatar/128/Dave-icon.png",
        "http://icons.iconarchive.com/icons/hopstarter/halloween-avatar/128/Jake-Sulley-icon.png",
        "http://icons.iconarchive.com/icons/hopstarter/halloween-avatar/128/Pennywise-icon.png"
    };

    private string GetRandomAvatarIconUrl()
    {
        Random rnd = new Random();

        return avatars[rnd.Next(1, avatars.Length) - 1];
    }

    protected override async Task OnInitializedAsync()
    {
        forecasts = (await Http.GetJsonAsync<WeatherForecast[]>("https://blazorapi1.thecodehoster.com/weatherforecast")).ToList();
    }
}
