﻿@inherits LayoutComponentBase

@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager MainNavigationManager
@inject Task<AppSettings> Configuration
@inject SignalRFactory SignalRFactory

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="dropdown" style="align-content: start; width: 400px;">
        <button class="dropbtn">Messages (@_notifications.Count)</button>
        <div class="dropdown-content">
            <ul>
                @foreach (var notice in _notifications)
                {
                    <li style="align-content: start; width: 400px;">@notice</li>
                }
            </ul>
        </div>
    </div>
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{

    private HubConnection _hubConnection;
    private List<string> _notifications = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = await SignalRFactory.GetOrCreateHubConnection("/chatHub");

        _hubConnection.On<string>("ChatEvent", (eventMessage) =>
        {
            _notifications.Add($"{eventMessage}");
            StateHasChanged();
        });

    }
}