﻿
$bg-green: #28a745;


.bw-row-highlight-span {
    background-color: cyan;
    border: 5px double $bg-green;
}

.bw-list-cleaner {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

navigation {

}