﻿@typeparam TItem

<div>
    @TableHeader
</div>

<div>
    <ul class="bw-list-cleaner">
        @foreach (var item in Items)
        {
            <li class="bw-row-highlight-span">@RowTemplate(item)</li>
        }
    </ul>
</div>


<div>
    @TableFooter
</div>

@code {
    [Parameter]
    public RenderFragment TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }

    [Parameter]
    public RenderFragment TableFooter { get; set; }

    [Parameter]
    public IReadOnlyList<TItem> Items { get; set; }
}